{# src/AppBundle/Ressources/views/billetterie/etape.html.twig #}

<div class="row text-center etape mt-3">
    <div class="col py-3 etape-active">1 billet</div>
    <div class="col py-3">2 information</div>
    <div class="col py-3">3 paiement</div>
    <div class="col py-3">4 confirmation</div>
</div>