@font-face{
    font-family: Trajanus;
    src:url(../font/TrajanusBricks.ttf);
}

body{
    background-color: #f3f3f3 !important;
    padding-top: 50px;
}
.table-ui{
    border: 13px solid white;
    border-radius: 15px;
}

.table-ui thead{
    background-color: #7373732e;
    color: #818182;
    text-transform: uppercase;
    letter-spacing: 0;
}

.table-ui tbody tr{
    background-color: #ffffff;
    border: 1px solid #00000000;
    border-radius: 15px;
}

.table-ui tbody tr:hover{
    background-color: #cce7ffe8;
    border: 1px solid #00000000;
    border-radius: 15px;
}

.table-ui th, .table-ui td{
    border: none !important;
    padding-top: 20px;
    padding-bottom: 20px
}

.bg-dark-louvre{
    background-color: #131518;
}

#navbarNavAltMarkup .navbar-nav{
    border-bottom: solid 7px #0000;
    font-family: Trajanus, sans-serif;
}

#navbarNavAltMarkup .navbar-nav:hover{
    border-bottom: solid 7px #7e7a1f;
}

h3, .h3{
    font-family: Trajanus,sans-serif !important;
    word-spacing: 10px;
    border-top: solid 3px #7e7a1f;
    padding: 20px 0;
    font-size: 25px !important;
}

.border-t{
    border-top: solid 3px #7e7a1f;
    padding-top: 20px;
}

.card-title + .card-title{
    color: #17a2b8;
}

.card{
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

footer a{
    color: #7e7a1f;
}

footer a:hover{
    color: #7e7a1f;
}

.etape-active:nth-child(4n+1){
    background-image: linear-gradient(to right, #4481b6, #3989B6);
}

.etape-active:nth-child(4n+2){
    background-image: linear-gradient(to right, #3989B7, #2E91B7);
}

.etape-active:nth-child(4n+3){
    background-image: linear-gradient(to right, #2D92B7, #229AB7) !important;
}

.etape-active:nth-child(4n+0){
    background-image: linear-gradient(to right, #229AB8, #17a2b8);
}

.etape div{
    border: solid 2px #f3f3f3;
    font-size: 15px;
    word-spacing: 10px;
    font-family: Trajanus, sans-serif;
    color: #8d8d8d;
    background-color: #ddd;
}

.etape-active{
    color: #f3f3f3 !important;
}

.panier{
    background-color: #ddd;
    color: #8d8d8d !important;
}

.jf ul{
    list-style-type: none;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

