{% extends "billetterie/base.html.twig" %}
{% block etape %}etape-3{% endblock %}
{% block etape_information %}etape-active{% endblock %}
{% block etape_paiement %}etape-active{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Projet Stripe</span> Mentorat OpenClassroom</h1>
            </div>
            <div id="status">
                <p>
                    Vous êtes sur le point de payer un article qui vaut une petite fortune ! (995 francs, heu euros !)
                <form action="{{ path('order_checkout') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_DAfOODyrMjxgDNcU0x0i1GQv"
                            data-amount="99500"
                            data-name="oc-stripe"
                            data-description="Widget"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
